body {
    background-color: Grey;
}

h1 {
    background-color: Black;
    font-size: 300%;
    text-align: center;
    color: Grey;
}

th {
    font-size: 250%;
    background-color: Black;
    color: Grey;
}

td {
    font-size: 200%;
}

table {
    color: Black;
}
